.absolute {
  position: absolute
}

.relative {
  position: relative
}

.-bottom-\[59px\] {
  bottom: -59px
}

.-right-3 {
  right: -0.75rem
}

.bottom-20 {
  bottom: 5rem
}

.bottom-24 {
  bottom: 6rem
}

.right-8 {
  right: 2rem
}

.top-10 {
  top: 2.5rem
}

.flex {
  display: flex
}

.h-14 {
  height: 3.5rem
}

.w-60 {
  width: 15rem
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded {
  border-radius: 0.25rem
}

.rounded-full {
  border-radius: 9999px
}

.border-2 {
  border-width: 2px
}

.border-solid {
  border-style: solid
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.bg-red-tiktok {
  --tw-bg-opacity: 1;
  background-color: rgb(238 29 82 / var(--tw-bg-opacity))
}

.bg-transparent {
  background-color: transparent
}

.bg-white{
  background-color: white
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-extrabold {
  font-weight: 800
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}
